@tailwind base;
@tailwind components;
@tailwind utilities;

.flipbook {
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  backface-visibility: hidden;
}